Deliverables/M2[[:space:]]-[[:space:]]Design[[:space:]]Review/M-Lab_UKE-TRAILER-DRAFT.mp4 filter=lfs diff=lfs merge=lfs -text
Deliverables/M3[[:space:]]-[[:space:]]Client[[:space:]]Acceptance[[:space:]]Test/UKE_M-Lab_Trailer_VentCore.mp4 filter=lfs diff=lfs merge=lfs -text
Deliverables/Presentations/W04-Slides-Prototypes.pdf filter=lfs diff=lfs merge=lfs -text
